

      {{>header}}

    <div class="notFound">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 about-left">
                    <img class="img-fluid" src="images/women.png" alt="">
                </div>
                <div class="col-md-6 about-right">
                    <h2>World <span>Weather</span> description</h2>
                    <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown</p>
                    <button>Click more</button>
                </div>
            </div>
        </div>
      </div>
    </div>


    {{>footer}}
  