
    {{>header}}

    <div class="slider">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto mainSlider">
          <div class="row">
            <div class="col-md-7 col-12 slider-left">
              <p>Welcome to Weather App</p>
              <h2>Get the latest<span> weather</span> info of your City</h2>
              <button>click more</button>
            </div>
            <div class="col-md-5 col-12 slider-right">
              <div
                id="carouselExampleControls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="https://c4.wallpaperflare.com/wallpaper/842/18/565/anime-sky-cloud-clouds-wallpaper-preview.jpg"
                      class="img-fluid"
                      alt=""
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="http://walldiskpaper.com/wp-content/uploads/2014/10/Beach-3D-Wallpaper-1920x1080.jpg"
                      class="img-fluid"
                      alt="..."
                    />
                  </div>
                  <div class="carousel-item">
                    <img
                      src="https://media.istockphoto.com/photos/transparent-umbrella-under-rain-against-water-drops-splash-background-picture-id1257951336?k=6&m=1257951336&s=612x612&w=0&h=ZCXmMFTEAnhHQO9GAGmh01uts4t24aM7s24KzNs8gX8="
                      class="img-fluid"
                      alt="..."
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleControls"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
    
