{{>header}}
<div class="weather">
    <div class="row">
        <div class="col-md-8 col-10 mx-auto">
            <form action="">
                <input type="text" placeholder="Enter your City Name" id="cityName">
                <input type="submit" value='Search' id='search'>
            </form>
            <div class="resultBox">
                <div class='topLayer d-flex justify-content-between'>
                    <p id="day">tus</p>
                    <p class="ml-auto" id="today_date">11 Aug</p>
                </div>
                <div class="bottomLayer">
                    <h3 id="city">Get Output Here...</h3>
                    <div class="temp_info">
                        <div id="temp"><p>0<sup>0</sup>C</p></div>
                        <div id="tempIcon"><i class="fas fa-cloud"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}